.git/
.github/
.vs/

**/bin/
**/obj/
**/node_modules/
**/.next/
**/coverage/
**/TestResults/
**/*.trx

artifacts/
logs/
Docker/db/*
Docker/disk/*
Docker/logs/*
Docker/temp/*
!Docker/db/.gitkeep
!Docker/disk/.gitkeep
!Docker/logs/.gitkeep
!Docker/temp/.gitkeep

*.nupkg
*.snupkg
*.user
*.suo
*.log
