.icon {
  margin: var(--ant-margin);
  font-size: 30px;
}

.colorRed {
  color: var(--ant-color-error) !important;
}

.colorYellow {
  color: var(--ant-color-warning) !important;
}
.colorBlue {
  color: var(--ant-color-primary) !important;
}
