.sidebarContainer {
  border-right: 1px solid var(--color-separator);
  height: 100vh;
  overflow: auto;
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 100;
}

.sidebarWithTopHeader {
  top: 65px;
  height: calc(100vh - 65px);
}

.sidebarContainer a {
  color: inherit !important;
}

/* Also fix selected state */
.sidebarContainer .ant-menu-item-selected a {
  color: inherit !important;
}

/* Optional: hover state fix */
.sidebarContainer .ant-menu-item a:hover {
  color: inherit !important;
}

.logoContainer {
  height: 64px;
  border-bottom: 1px solid var(--color-separator);
  padding: 0 16px;
}

.collapseButtonContainer {
  padding: 6px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.collapseButton {
  font-size: 16px;
}

.menu {
  border-right: none;
}

.menu :global(.ant-menu-item) {
  height: 30px;
  line-height: 30px;
  margin-block: 3px;
}

.menu:global(.ant-menu-inline:not(.ant-menu-inline-collapsed)) :global(.ant-menu-item) {
  padding-inline: 12px !important;
  padding-left: 18px !important;
}

.menu :global(.ant-menu-item-group-title) {
  padding: 9px 12px 3px;
}
