services:

  #
  # Less3
  # See https://hub.docker.com/r/jchristn/less3
  # and https://github.com/jchristn/less3
  #

  less3:
    container_name: 'less3'
    image: 'jchristn77/less3:v2.1.12'
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true
    volumes:
      - ./system.json:/app/system.json
      - ./less3.db:/app/less3.db
      - ./logs/:/app/logs/
      - ./temp/:/app/temp/
      - ./disk/:/app/disk/
    healthcheck:
      test: curl --fail http://localhost:8000
      interval: 5s
      timeout: 3s
      retries: 2
      start_period: 10s

  #
  # Less3 UI (Dashboard)
  # See https://hub.docker.com/r/jchristn/less3-ui
  #

  less3-ui:
    container_name: 'less3-ui'
    image: 'jchristn77/less3-ui:v2.1.12'
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    environment:
      - TERM=xterm-256color
      - LESS3_SERVER_URL=http://less3:8000
    depends_on:
      less3:
        condition: service_healthy
